/*
 * Copyright (c) 2025 Bruno Rodriguez Tondin <btondin@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */



/* --- Configuration --- */
/* Disable unused peripherals */
&i2c0 { status = "disabled";};
&spi0 { status = "disabled";};
&i2c1 { status = "disabled";};
&adc { 	status = "disabled";};

&spi1 {
	
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
	
	/*
	 * The Chip Select (Pin 10) that you wanted to keep.
	 * The "nrf-spim" driver will control this pin automatically.
	 */
	cs-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;

	/*
	 * New device node for the MCP41XXX.
	 */
	mcp41xxx_0: mcp41xxx@0 {
		/* Must match the 'compatible' from your binding.yaml */
		compatible = "microchip,mcp41xxx";
		
		/* Defines that this device uses the 'cs-gpios' at index 0 (Pin 10) */
		reg = <0>; 
		
		/* SPI Clock (MCP41xxx supports up to 10MHz) */
		spi-max-frequency = <1000000>; 

		/*
		 * Required property that we defined in the binding
		 * (This example is for the MCP41010 10kOhm)
		 */
		resistance = <10>; // In kilo Ohm
	};
};

/*
 * Pin definitions for SPI1 (SCK, MOSI, MISO).
 * (Kept from your original overlay)
 */
&pinctrl {
	spi1_default: spi1_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 11)>,
					<NRF_PSEL(SPIM_MOSI, 0, 12)>,
					<NRF_PSEL(SPIM_MISO, 0, 13)>;
		};
	};
	spi1_sleep: spi1_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 11)>,
					<NRF_PSEL(SPIM_MOSI, 0, 12)>,
					<NRF_PSEL(SPIM_MISO, 0, 13)>;
			low-power-enable;
		};
	};
};