/*
 * Disable unused peripherals
 */
&i2c0 { status = "disabled"; };
&i2c1 { status = "disabled"; };
&spi0 { status = "disabled"; };
&adc  { status = "disabled"; };

/*
 * SPI1 configuration (SPIM1)
 */
&spi1 {
	compatible = "nordic,nrf-spim";
    status = "okay";

    /* Chip select do display */
    cs-gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;

    /* Pin control já definido no seu board */
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";

	mcp41xxx_0: mcp41xxx@0 {
		compatible = "microchip,mcp41xxx";
		reg = <0>;
		spi-max-frequency = <1000000>;
		resistance = <10>;
	};
};

/*
 * PINCTRL for SPI1
 */
&pinctrl {
	spi1_default: spi1_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK,  0, 11)>,
					<NRF_PSEL(SPIM_MOSI, 0, 12)>,
					<NRF_PSEL(SPIM_MISO, 0, 13)>;
		};
	};

	spi1_sleep: spi1_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK,  0, 11)>,
					<NRF_PSEL(SPIM_MOSI, 0, 12)>,
					<NRF_PSEL(SPIM_MISO, 0, 13)>;
			low-power-enable;
		};
	};
};
